
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto|Inconsolata');

html {
  background: whitesmoke;
}

body {
  font-family: "Merriweather", sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 0.9rem;
  color: #333333;
  text-align: justify;
}


text {
  font-family: "Merriweather", serif;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 5%;
  color: #333333;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: -.1rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;

}

h3 {
  font-size: 1.75rem;
  margin-top: 3%;
  margin-bottom: 1%;
  line-height: 1.1;
}

h4 {
  font-size: 1.35rem;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1.1;
}

h6 {
  font-family: "Merriweather", sans-serif;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.05rem;
}

a {
  text-decoration: underline;
}

a, a:hover, .fa:hover {
  color: #1e5262;
}

ul, li {
  text-align: justify;
  margin-bottom: 1rem;
}

p {
  word-break: break-word;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.title {
  line-height: 1.2;
  text-decoration: none;
  color: #222;
}

.container {
  max-width: 1200px;
  margin-top: .1em;
}

.navbar-item {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
}

.navbar, .navbar-spacer {
  font-family: "Inconsolata", serif;
  background: whitesmoke;
}

.navbar-menu {
  /*border-bottom: solid darkslategray;
  border-width: 0px 1px 1px 1px;*/
}

.navbar-item:hover {
  color: #1e5262;
}

a.navbar-item.is-tab:hover {
  color: #1e5262;
}

.navbar-item.is-tab {
  border-bottom: 1px solid transparent;
  min-height: 3.25rem;
  padding-bottom: calc(.5rem - 1px)
}

.navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
  background-color: transparent;
  border-bottom-color: #1e5262;
}
