@use 'bulma/bulma.scss';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: "EB Garamond", Times, serif;

	//color: #333333;
	color: black;
	font-size: 1.125em;
}

p {

}
a {
	color: darkblue;
}
ul {
	list-style-type: "- ";
	list-style-position: outside;
	padding-left: 20px;
}

li {
 padding-left: 5px;
}


.title.is-4{
	font-family: serif;
	font-style: normal;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 1em;
}

h6 {
	text-decoration: underline;
	font-size: 1em;
}